.header {
  color: $primary;
  background-color: darken($navbar, 10%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  height: 60px;
  span {
    color: $white;
    font-weight: bold;
    // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; // alto contrasto pulsanti navbar
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 100;
    width: 100%;
  }
}
// .lock-scroll {
//   .header {
//     &.header-absolute {
//       position: static;
//     }
//   }
// }
