<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Page Not Found</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='/css/style.min.css' rel='stylesheet' />

</head>

<body style="background-color:#fcffcc">
  <!-- <div id="wrapper" class="wrapper">

    <div class="container pt-9 pb-9 pt-md-13 pb-md-13">
      <div class="row justify-content-center align-content-between">
        <div class="col-9 text-center">

          <h1 class="display-1 text-primary mb-4">404: Page not found. Try looking somewhere else.</h1>
        </div>
        <div class="col-9 text-center mb-2">
          <a href="/" class="btn btn-primary">Home</a>
        </div>
        <div class="col-9 text-center mb-2">
          <a href="/contact" class="btn btn-primary">Contact Us</a>
        </div>
      </div>
    </div>

  </div> -->

  <div id="wrapper" class="wrapper">
      <div align="center">
        <div style="padding-top: 30px"><a href="/" target="" title="Back to Homepage">
          <img src="/images/logo-mobile.svg" alt="logo-mobile" width="200px"><br>
          <img src="/images/logo.svg" alt="logo" width="250px"></a>
        </div>

        <h1 class="display-1 text-primary mb-4" style="color: #c62a1b; text-shadow: 1px 1px 2px black">404: Page not found.<br>Try looking somewhere else.</h1>
      </div>
      <br>

      <div align="center">
        <div style="width:500px">
          <span style="font-size:16pt; text-align:center;">Why am I seeing this?</span><br>
          <ul style="text-align:justify">
            <li> The URL you're trying to reach was written incorrectly.
            <li> The page or its content was either deleted or moved.
            <li> The page is still under construction or currently unavailable due to maintenance.
            <li> The page is no longer available.
          </ul>
          <span style="text-align:center;">Try double-checking the address or <a href="/" target="" title="Back to Homepage">go back to the homepage</a>.</span>
        </div>
      </div>
  </div>

<!-- If you can read this, you're not supposed to. -->

</body>

</html>
