{{ define "header_css" }}
{{ end }}
{{ define "body_classes" }}page-work-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<body>
<!-- {{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "section" .Section "content" . "y_position" .Params.y_position)}} -->
<!-- class="container pt-4 pt-md-10 pb-4 pb-md-10" -->
<div style="margin-top:20px; padding: 5%">
  <img align="middle" src="/images/mappa-mondo.jpg" usemap="#Map0" alt="interactive-map" style="width:100%;">
</div>

<map name="Map0">
<!-- BRASILE -->
<area shape="RECT" coords="180, 269, 221, 286" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1427">
</area>
<!-- COLOMBIA -->
<area shape="RECT" coords="81, 237, 143, 252" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1428">
</area>
<!-- ARGENTINA -->
<area shape="RECT" coords="164, 335, 233, 351" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1429">
</area>
<!-- ARMENIA -->
<area shape="RECT" coords="395, 4, 451, 20" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1418">
</area>
<!-- BIELORUSSIA -->
<area shape="RECT" coords="359, 81, 410, 95" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1430">
</area>
<!-- KAZAKHSTAN -->
<area shape="RECT" coords="411, 113, 483, 128" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1426">
</area>
<!-- IRAN -->
<area shape="RECT" coords="409, 162, 439, 174" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1431">
</area>
<!-- CINA -->
<area shape="RECT" coords="477, 134, 515, 148" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1432">
</area>
<!-- TAIWAN -->
<area shape="RECT" coords="583, 185, 628, 196" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1419">
</area>
<!-- MESSICO -->
<area shape="RECT" coords="39, 172, 86, 186" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1420">
</area>
<!-- FRANCIA -->
<area shape="RECT" coords="212, 110, 255, 125" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1433">
</area>
<!-- ITALIA -->
<area shape="RECT" coords="229, 175, 258, 186" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1434">
</area>
<!-- SERBIA -->
<area shape="RECT" coords="422, 261, 461, 273" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1422">
</area>
<!-- UNGHERIA -->
<area shape="RECT" coords="421, 240, 475, 252" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1421">
</area>
<!-- BOSNIA -->
<area shape="RECT" coords="423, 292, 566, 303" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1423">
</area>
<!-- SLOVENIA -->
<area shape="RECT" coords="412, 310, 465, 322" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1424">
</area>
<!-- ALBANIA -->
<area shape="RECT" coords="279, 246, 326, 256" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1425">
</area>
<!-- GEORGIA -->
<area shape="RECT" coords="281, 267, 329, 278" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1435">
</area>
<!-- REPUBBLICA CECA -->
<area shape="RECT" coords="161, 162, 214, 184" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1436">
</area>
<!-- EMIRATI ARABI UNITI -->
<area shape="RECT" coords="278, 285, 331, 317" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1437">
</area>
<!-- UZBEKISTAN -->
<area shape="RECT" coords="464, 254, 529, 265" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1438">
</area>
<!-- RUSSIA -->
<area shape="RECT" coords="486, 45, 525, 58" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1439">
</area>
<!-- SUD AFRICA -->
<area shape="RECT" coords="317, 320, 396, 330" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1440">
</area>
<!-- COREA DEL SUD -->
<area shape="RECT" coords="586, 97, 662, 108" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1441">
</area>
<!-- INDIA -->
<area shape="rect" coords="469, 182, 500, 192" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1454">
</area>
<!-- MG -->
<area shape="rect" coords="209, 208, 226, 215" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=50">
</area>
<area shape="rect" coords="231, 208, 249, 215" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=51">
</area>
<area shape="rect" coords="548, 171, 571, 180" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=52">
</area>
<area shape="rect" coords="256, 208, 274, 215" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=53">
</area>
<area shape="rect" coords="548, 326, 571, 345" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=54">
</area>
<area shape="rect" coords="587, 150, 614, 168" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=101">
</area>
<area shape="rect" coords="53, 147, 80, 167" href="http://www.icra.it/MG/mg07/">
</area>
<area shape="rect" coords="355, 174, 390, 189" href="http://www.icra.it/MG/mg08/">
</area>
<area shape="rect" coords="217, 217, 238, 224" href="http://www.icra.it/MG/mg9/mg9.htm">
</area>
<area shape="rect" coords="208, 309, 228, 319" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=59">
</area>
<area shape="rect" coords="237, 54, 262, 65" href="http://www.icra.it/mg/mg11/welcome.htm">
</area>
<area shape="rect" coords="204, 139, 229, 150" href="http://www.icra.it/MG/mg12/en/">
</area>
<area shape="rect" coords="304, 51, 335, 61" href="http://www.icra.it/mg/mg13/">
</area>
<area shape="rect" coords="243, 217, 268, 224" href="http://www.icra.it/mg/mg14/">
</area>
<area shape="rect" coords="215, 226, 236, 233" href="http://www.icra.it/mg/mg15/">
</area>
<!-- 1SV -->
<area shape="rect" coords="88, 192, 106, 212" href="http://www.icranet.org/1sv">
</area>
<!-- 1JG -->
<area shape="rect" coords="144, 234, 160, 253" href="http://www.icranet.org/1jg">
</area>
<!-- 1CL -->
<area shape="rect" coords="232, 310, 245, 319" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=192">
</area>
<!-- 2CL -->
<area shape="rect" coords="249, 309, 267, 319" href="http://www.icranet.org/2cl">
</area>
<!-- URCA -->
<area shape="rect" coords="226, 319, 248, 329" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=730">
</area>
<!-- SOBRAL -->
<area shape="rect" coords="229,268,257,278" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=435">
</area>
<!-- MEETING ARMENIA -->
<area shape="rect" coords="395, 36, 462, 48" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=752 ">
</area>
<!-- ZELDOVICH -->
<area shape="rect" coords="363, 117, 388, 127" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=405">
</area>
<!-- 1GX -->
<area shape="rect" coords="574, 170, 592, 180" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=442">
</area>
<!-- 2GX -->
<area shape="rect" coords="244, 227, 257, 233" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=508">
</area>
<!-- 3GX -->
<area shape="rect" coords="521, 143, 538, 154" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=544">
</area>
<!-- 4GX -->
<area shape="rect" coords="541, 145, 561, 154" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=918">
</area>
<!-- 5GX -->
<area shape="rect" coords="519, 177, 535, 185" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=1078">
</area>
<!-- IK KOREA -->
<area shape="rect" coords="568, 147, 582, 167" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=94">
</area>
<!-- IK ITALY -->
<area shape="rect" coords="263, 227, 271, 234" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=94">
</area>
<!-- IS TAIWAN -->
<area shape="rect" coords="567, 182, 581, 197" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=195">
</area>
<!-- IS ITALY -->
<area shape="rect" coords="206, 236, 215, 243" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=195">
</area>
<!-- BEGO -->
<area shape="rect" coords="235, 141, 258, 150" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=260">
</area>
<!-- EM Schools -->
<area shape="rect" coords="210, 151, 253, 160" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=593">
</area>
<!-- WF1 -->
<area shape="rect" coords="220, 235, 238, 244" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=62">
</area>
<!-- WF2 -->
<area shape="rect" coords="550, 182, 566, 202" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=63">
</area>
<!-- WF3 -->
<area shape="rect" coords="242, 235, 260, 244" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=64">
</area>
<!-- AM -->
<area shape="rect" coords="264, 235, 278, 243" href="http://www.icranet.org/am">
</area>
<!-- SW1 -->
<area shape="rect" coords="212, 245, 230, 253" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=88">
</area>
<!-- SW2 -->
<area shape="rect" coords="232, 244, 252, 253" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=220">
</area>
<!-- SW3 -->
<area shape="rect" coords="257, 244, 274, 254" href="http://www.icra.it/ICRA_Networkshops/INW25_Stueckelberg3/Welcome.html">
</area>
<!-- 5AC -->
<area shape="rect" coords="648, 386, 664, 404" href="http://www.icranet.org/index.php?option=com_content&amp;task=view&amp;id=462&amp;Itemid=826">
</area>
</map>

</body>

{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}
